// Colores principales

$primary: #2A49DF;
$primary-dark: #08112B;
$primary-light: #4965F9;

$background: #FAF8FF;
$surface: #FFFFFF;

$text-color: #131B2E;
$text-secondary: #444655;

$white: #FFFFFF;


// Tipografías

$title-font: "Inter", sans-serif;
$text-font: "Inter", sans-serif;


// Tamaños

$container-width: 1280px;


// Border radius

$radius-sm: 8px;
$radius-md: 16px;
$radius-lg: 24px;
$radius-pill: 999px;


// Espaciados

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 48px;
$spacing-3xl: 64px;

$outline-variant: #C5C5D8;      // bordes sutiles de cards
$secondary-container: #D4DBFF;  // fondo de íconos secundarios (benefit-card)
$on-secondary-container: #58607E; // color de esos íconos

